<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>칵테일 주량 계산기</title>
</head>
<body>
<h1>주량 계산을 통한 칵테일 조합 생성!</h1>

<form action="/calculate/recommend" method="post">
    <!-- 오늘 상태 선택 -->
    <p>나는 오늘 얼마나 마실까?</p>
    <label>
        <input type="radio" name="numOfDrink" value="1" required> 오늘은 몸 사릴래!
    </label>
    <label>
        <input type="radio" name="numOfDrink" value="2"> 오늘 나 자중해!
    </label>
    <label>
        <input type="radio" name="numOfDrink" value="3"> 나 오늘 꽐라 될래~~~
    </label>

    <br><br>

    <!-- 사용자가 포함하고 싶은 칵테일 선택 -->
    <p>조합에 꼭 포함시키고 싶은 칵테일 선택! (최대 3개):</p>
    <div>
        <ul>
            <li th:each="cocktail : ${cocktails}">
                <label>
                    <img th:src="${cocktail.image}" alt="칵테일 이미지" style="width: 100px; height: 100px;">
                    <input type="checkbox" name="selectedCocktails" th:value="${cocktail.idx}" th:id="${'cocktail_' + cocktail.idx}">
                    <span th:text="${cocktail.name}"></span>
                </label>
            </li>
        </ul>
    </div>

    <!-- 소주 주량 입력 -->
    <label for="drinkCapacity">주량 (소주 1잔 기준으로 입력: 5잔/1병):</label>
    <input type="number" id="drinkCapacity" name="drinkCapacity" min="1" required>

    <br><br>
    <button type="submit" onclick="location.href='/calculate/recommend'">칵테일 추천 받기</button>
</form>
</body>
</html>
