<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cocktail List</title>
</head>
<body>

<h1>칵테일 초보를 위한 칵테일 추천!</h1>

<form action="/cocktail/filter" method="get">
    <h2>조건 검색</h2>
    한잔당 가격대<br>
    <input type="radio" name="price" value="under_10000"
           th:checked="${selectedPrice == 'under_10000'}" onchange='this.form.submit();' /> 10,000₩ 이하
    <input type='radio' name='price' value='over_10000'
           th:checked="${selectedPrice == 'over_10000'}" onchange='this.form.submit();' /> 10,000원 ~ 20,000원
    <input type='radio' name='price' value='over_20000'
           th:checked="${selectedPrice == 'over_20000'}" onchange='this.form.submit();' /> 20,000원 ~ 30,000원
    <input type='radio' name='price' value='over_30000'
           th:checked="${selectedPrice == 'over_30000'}" onchange='this.form.submit();' /> 30,000원 ~ 40,000원
    <input type='radio' name='price' value='over_40000'
           th:checked="${selectedPrice == 'over_40000'}" onchange='this.form.submit();' /> 40,000원 이상
    <input type='radio' name='price' value=''
           th:checked="${selectedPrice == ''}" onchange='this.form.submit();' /> 전체
    <br>
    <br>
    도수<br>
    <input type='radio' name='abv' value='under_10' onchange='this.form.submit();' /> 10% 이하
    <input type='radio' name='abv' value='over_10' onchange='this.form.submit();' /> 10% ~ 20%
    <input type='radio' name='abv' value='over_20' onchange='this.form.submit();' /> 20% ~ 30%
    <input type='radio' name='abv' value='over_30' onchange='this.form.submit();' /> 30% ~ 40%
    <input type='radio' name='abv' value='over_40' onchange='this.form.submit();' /> 40% 이상
    <input type='radio' name='abv' value='' onchange='this.form.submit();' /> 전체
    <br>

</form>

<form action="/cocktail/search" method="get">
    <h2>검색어 검색</h2>
    <input type="search" name="keyword" placeholder="검색어를 입력하세요.">
    <button type="submit">검색</button>
</form>

<table>
    <tr th:each="cocktail, iterStat : ${cocktails}">
        <td>
            <div>
                <img th:src="${cocktail.image}" width="100" height="100" />
                <br />
                <a th:href="@{/cocktail/{idx}(idx=${cocktail.idx})}">
                    <span th:text="${cocktail.name}"></span>
                </a>
                <br />
                <a th:href="@{/cocktail/updateform/{idx}(idx=${cocktail.idx})}">수정</a>
                <a th:href="@{/cocktail/delete/{idx}(idx=${cocktail.idx})}">삭제</a>
            </div>
        </td>
    </tr>
</table>

<p><a href="/cocktail/addform">[칵테일 추가하기]</a></p>

</body>
</html>
