<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cocktail List</title>
</head>
<body>

<h1>칵테일</h1>
<table border="1">
    <thead>
        <tr>
            <th>이름</th>
            <th>가격대</th>
        </tr>
    </thead>
    <tbody>
       <tr th:each="cocktail : ${cocktails}">
          <td th:text="${cocktail.name}">Cocktail Name</td>
          <td th:text="${cocktail.taste}">Price Range</td>
    </tr>
    </tbody>
</table>
</body>
</html>
