<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


칵테일 <br/>
<br>
칵테일 이름 : <span th:text="${cocktails.name}"></span> <br/>
<br>
<img th:src="${cocktails.image}" /> <br/>
<br>
도수 : <span th:text="${cocktails.abv}"></span> <br/>
나이대 : <span th:text="${cocktails.ageGroup}"></span> <br/>
가격 : <span th:text="${cocktails.priceRange}"></span> <br/>
어울리는 안주 : <span th:text="${cocktails.snacks}"></span> <br/>
소개 : <span th:text="${cocktails.cocktailInfo}"></span> <br/>
맛 : <span th:text="${cocktails.taste}"></span> <br/>
<!--<textarea rows="5" cols="40" th:text="${cocktails.name}">-->
<!--</textarea><br/>-->

<!--<a th:href="@{/movie/delete/{idx}(idx=${movie.idx})}">[삭제]</a>-->
<!--<a th:href="@{/movie/updateform/{idx}(idx=${movie.idx})}">[수정]</a>-->


</body>
</html>