<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>추천된 칵테일</title>
</head>
<body>
    <h1>칵테일 추천 리스트</h1>

    <ul>
        <li th:each="cocktail : ${recommendedCocktails}">
            <img th:src="${cocktail.image}" width="100" height="100" />
            <h2 th:text="${cocktail.name}"></h2>
            <p>도수: <span th:text="${cocktail.abv}"></span>%</p>
            <p th:text="${cocktail.cocktailInfo}"></p>
        </li>
    </ul>

    <a href="/calculate">다시 계산하기</a>
</body>
</html>
